<header id="header" class="flex flex-col items-center p-4 bg-darkgray header md:flex-row md:justify-between md:p-6">

	{% include "components/logo.njk" %}
	{% include 'components/nav.njk' %}

</header>
